extends ../layout

block content
    if !error
      h2.text-center List Transaction
      table.table
        thead
          tr
            th(scope='col') id
            th(scope='col') userId
            th(scope='col') bookId
            th(scope='col') Complete
        tbody
          if transactions.length > 0
            each item in transactions
              if item.isComplete === false
                tr
                  td=item.id
                  td=item.userId
                  td=item.bookId
                  td 
                    a(href=`/transactions/${item.id}/complete`) Complete
          else
            tr
              td ...
              td ...
              td ...
    else
        .alert.alert-danger(role='alert')= error

    a(href='/transactions/create') Create new transaction